# dependencies
node_modules
npm-debug.log
yarn-error.log

# compiled output
dist

# Docker
Dockerfile
docker-compose.yml

# environment variables
.env
.env.*.local

# logs
*.log

# IDEs and OS files
.vscode/
.idea/
.DS_Store

# coverage
coverage/